.music-file-upload{
	border:2px solid teal;
	padding: 1rem 0.5rem
}

.music-file-submit{
	padding: 1.2rem 0.5rem;
	border: 2px solid teal;
	cursor: pointer;
}

.player-util{
	width: fit-content;
}

.player-div{
	margin-top: 1rem;
}

.custom-note-viewer{
	text-align: center;
}

.note-label{
	padding: 1rem 0;
	background-color: teal;
	color: white;
}

.note-text{
    padding: 1rem;
    border: 2px solid teal;
    font-weight: bold;
    font-family: monospace;
    font-size: 24px;
}

.done-message{
	color: green;
	display: none;
}

/* Taken from loading.io */

.lds-dual-ring {
  	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 20px;
}
.lds-dual-ring:after {
  	content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 0;
    border-radius: 50%;
    border: 6px solid teal;
    border-color: teal transparent teal transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

