<!DOCTYPE html>
<html>
<head>
	<title>BetterEd Music</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

	<div>
		
		<div>
			<!-- Upload music file -->
			<form id="music-file-form" enctype="multipart/form-data">
				<input id="music-file-upload" class="music-file-upload" type="file" name="file">
				<button id="music-file-submit" class="music-file-submit">
					Give me notes
				</button>
				<span>
					<span id="loading-circle" class="loading-circle lds-dual-ring"></span>
					<span id="done-message" class="done-message">
						Click play button on audio below!
					</span>
				</span>	
			</form>
		</div>

		<div class="player-util">
			<!-- Audio Player -->
			<div class="player-div">
				<audio id="upload-player" controls>
					<source src="" id="upload-player-src">
					<track src="" id="upload-player-track" kind="captions" label="Notes info" default></track>
				</audio>
			</div>

			<!-- Music Note Viewer -->
			<div class="custom-note-viewer">
				<div class="note-label">Notes being played</div>
				<div id="note-text" class="note-text">

				</div>
			</div>	
		</div>	

	</div>	

	<script src="/static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		
		//Initially hide both
		$('#loading-circle').hide();
        $("#done-message").hide();	

		$(function() {
		    $('#music-file-form').submit(function(e) {

		    	e.preventDefault();
		        var formData = new FormData(this);
		        var uploadedFile = $('#music-file-upload')[0];

		        // Show loading circle
		        $('#loading-circle').show();
		        $("#done-message").hide();

		        $.ajax({
		            type: 'POST',
		            url: '/process-notes',
		            data: formData,
		            contentType: false,
		            dataType: 'json',
		            cache: false,
		            processData: false
		        }).done( function(data){
		            
	            	// Show done message
			        $('#loading-circle').hide();
			        $("#done-message").show();
	            	allowMusicPlay(data.notesCaptionFile)
		    	
		    	});
		    });	
		});


		function allowMusicPlay(trackFilename) {
		    $("#upload-player-track").attr("src", trackFilename);
		    document.getElementById("upload-player").load();
		}

		function resetMusicPlay() {
		    // Attach uploaded file to player
		    $("#upload-player-src").attr("src", URL.createObjectURL(this.files[0]) );
		    // Remove previous caption source
		    $("#upload-player-track").attr("src", "" );
		    document.getElementById("upload-player").load();
		}

		document.getElementById("music-file-upload").addEventListener("change", resetMusicPlay, false);

		// AudioTrack not working so use custom caption view
		$('#upload-player')[0].textTracks[0].oncuechange = function() { 
		    var currentCue = this.activeCues[0].text;
		    $('#note-text').html(currentCue);
		}

	</script>
</body>
</html>


